.projects-block {
    width: 100%;
    padding-bottom: 15px;
    position: relative;
}

.pet-block {
    width: 50rem;
    margin: auto;
    margin-top: 25px;
    background-color: rgba(50, 51, 52, 0.604);
    padding: 25px;
    padding-bottom: 3rem;
    border-radius: 8px;
    border: 2px solid rgba(0, 0, 0, 0.612);
    position: relative;
}
.pet-block h2 {
    padding-left: 30px;
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}
.pet-block .description {
    width: 400px;
    text-indent: 1rem;
    font-size: 1.38rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pet-block .small-image {
    width: 300px;
    height: 250px;
    right: 60px;
    top: 50px;
    border-radius: 10px;
    position: absolute;
    transition: all 0.6s ease-in;
}
.small-image-contaienr :hover {
    width: 450px;
    height: 375px;
}
.pet-block .project-content {
    margin-top: 15px;
    text-indent: 1rem;
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}


@media (max-width: 900px) {
    .pet-block .description {
        width: auto;
    }
    .pet-block {
        width: 15rem;
    }
    .small-image-contaienr {
        display: none;
    }
}