header {
    height: 60px;
    width: 100%;
    gap: 5rem;
    margin-bottom: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
}
.header-light {
    background-color: #ffffff;
    color: black;
    box-shadow: 4px 4px 5px 10px #edededfd;
}
.header-dark {
    background-color: #353535;
    color: white;
    box-shadow: 4px 4px 5px 10px #28272788;
}
.simple-sun {
    width: 56px;
    position: absolute;
    top: 0;
    right: 25px;
    cursor: pointer;
    transition: all 1s ease-in;
}
.nav-button {
    height: fit-content;
    font-family: 'IM Fell Great Primer SC';
    font-size: 2.1rem;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
}

@media (max-width: 800px) {
    .nav-button {
        font-size: 0.9rem;
        padding: 2px;
    }
    .simple-sun {
        top: 60px;
        opacity: 0.2;
    }
}